<apex:page >
  <apex:form >
      <h1>fillup form</h1> <br/><br/>
      Enter Name:<apex:inputtext id="name"/> <br/><br/>
      Enter Age:<apex:inputtext id="age"/> <br/><br/>
      Enter UserName:<apex:inputtext id="username"/> <br/><br/>
      Enter Password:<apex:inputsecret id="password"/> <br/><br/>
      Cover Letter:<apex:inputtextarea id="coverletter"/> <br/><br/>
      Are you sure above data is corect:<apex:inputcheckbox id="check"/> <br/><br/>
      <apex:commandButton value="Save"/>
  </apex:form>
</apex:page>