<apex:page standardController="Account">
<apex:form >
  <apex:pageBlock title="My Content" mode="edit">
      <apex:pageblockButtons >
          <apex:commandButton value="Save" action="{!save}"/>
      </apex:pageblockButtons>
      
      <apex:pageBlockSection title="My Content Section" Columns="1">
          <apex:inputfield value="{!account.name}"/>
          <apex:inputfield value="{!account.AccountNumber}"/>
          <apex:inputfield value="{!account.site}"/>
          <apex:inputfield value="{!account.type}"/>
          <apex:inputfield value="{!account.Phone}"/>
      </apex:pageBlockSection>
  </apex:pageBlock>
</apex:form>
</apex:page>