.topdiv{
    background-color: Gray;
    color: white;
    height:25px;
    font-size: 15px;
    padding-left: 25px;
    padding-top: 10px;   
}

.outerdiv{
    background-color: LightGray;
}

.imagediv{
 	text-align: center; 
    height="25px";
    width="70px";
}

.btncenter{
    text-align: center;
    font-size="25px";
    color="green";
}



